.App {
  padding: 0;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Container{
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 80%;
}

.Tabla{
  background-color: white;
  height: 70vh;
  width: 90%;
  border-radius: 10px;
}

.HeaderTabla{
  background: linear-gradient(to bottom, #A40783, #52B5E1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.ContenidoTabla{
  width: 93%;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.BorrarEditar{
  width: 7%;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.Separador{
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Info{
  width: 93%;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.BotonesAE{
  height: 35px;
  width: 35px;
  border-radius: 20px;
  background-color: #A40783;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.Titulos{
  color: black;
  font-size: 40px;
}

.Titulos2{
  color: white;
  font-size: 50px;
}

.Titulos3{
  color: white;
  font-size: 26px;
  font-family: Helvetica;
}

.CuerpoTexto{
  color: #545454;
  font-size: 20px;
  font-family: Helvetica;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.Boton{
  background-color: grey;
  border-radius: 25px;
  width: 180px;
  height: 60px;
  margin-top: 2vh;
  display: flex;
  justify-content: space-between;  
}

.BotonActivo{
  background: linear-gradient(to bottom, #A40783, #52B5E1);
}

.Boton2{
  background-color: white;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  width: 49%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Boton3{
  background-color: white;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 49%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Añadir{
  background: linear-gradient(to bottom, #A40783, #52B5E1);
  margin-top: 20px;
  border-radius: 10px;
  width: 100px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.ModalBase{
  height: 80vh;
  width: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}