.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3%;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Container{
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 80%;
}

.Tabla{
  background-color: white;
  height: 70vh;
  width: 90%;
  border-radius: 10px;
}

.HeaderTabla{
  background-color: #bfbfbf;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.ContenidoTabla{
  width: 87%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.Separador{
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Titulos{
  color: black;
  font-size: 40px;
}

.Titulos2{
  color: white;
  font-size: 50px;
}

.Titulos3{
  color: #545454;
  font-size: 26px;
  font-family: Helvetica;
}

.CuerpoTexto{
  color: #545454;
  font-size: 20px;
  font-family: Helvetica;
}

.Boton{
  background-color: grey;
  border-radius: 25px;
  width: 180px;
  height: 60px;
  display: flex;
  justify-content: space-between;  
}

.Boton2{
  background-color: white;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  width: 49%;
  height: 60px;
}

.Boton3{
  background-color: white;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 49%;
  height: 60px;
}

.Añadir{
  background-color: green;
  margin-top: 20px;
  border-radius: 10px;
  width: 100px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
